
; Service configuration options
;

; Working directory where files are downloaded to.
WorkingDir = E:\ews_working

; Appended to the zip filename (before extension)
ResultsAppendStr = _results

; Path to the envision executable.
EnvExePath = \\envws-res-01\envws\deploy\envision\envision.exe

; directory to create and copy job logs into
ResultsLogDir = "job_logs"

; Envision log files: "Envision_logtype.hostname.datetime.log"
EnvReportLog = Envision_reportlog
EnvLogbookLog = Envision_logbook
EnvLog = Envision


