
; Service configuration options
;

; Working directory where files are downloaded to.
workingDir = E:\ews_working

; Appended to the zip filename (before extension)
resultsAppendStr = _results

; Path to the envision executable.
envExePath = \\envws-res-01\envws\deploy\envision\envision.exe

; directory to create and copy job logs into
resultsLogDir = "job_logs"

; Envision log files: "Envision_logtype.hostname.datetime.log"
envReportLog = Envision_reportlog
envLogbookLog = Envision_logbook
envLog = Envision


